<div class="container" style="padding-top:2em; padding-left:2em; padding-right:2em;">
    <h1 style="text-align:center">Predictive Analytics Engine</h1><br>
     {{!-- <p class="alert alert-success" style="text-align:center">
       A project implementation<br> by<br> <b>Ekpo, Wisdom Friday (AK15/NAS/CSC/019).<br> Department of Computer Science Akwa-Ibom State Univeristy</b>
    </p> --}}
    <p class="alert alert-default" style="text-align:center">
        Welcome to Storage Tank - Big Data Prediction Engine. <br>The Engine uses
        Deep Neural Network to predict if there will be losses from a given tank before a loading operations takes place.<br>
        Please click on <strong>Predictive Analytics</strong> above to begin.
    </p>
   
    {{!-- <p style="text-align:center">
        <a href="/predict/loading" class="btn btn-info"> + Predict a new loading</a>
        <a href="/predict/analytics" class="btn btn-warning"> View Analytics</a>
    </p> --}}
</div>