<div class="container" style="padding-top:2em; padding-left:2em; padding-right:2em;">
    <h1 style="text-align:center">Big Data Predictive Engine</h1><br>
     <p class="alert alert-success" style="text-align:center">
       A project implementation by <b>Wisdom Ekpo, Department of Computer Science Akwa-Ibom State Univeristy</b>
    </p>
    <p class="alert alert-default" style="text-align:center">
        Welcome to NNPC Big Data Prediction Engine. The Engine uses
        Deep Neural Network to predict the volume of losses from a given tank before a loading operation takes place.
    </p>
   
    {{!-- <p style="text-align:center">
        <a href="/predict/loading" class="btn btn-info"> + Predict a new loading</a>
        <a href="/predict/analytics" class="btn btn-warning"> View Analytics</a>
    </p> --}}
</div>